extends layout

block content
  #intro.box
    h1 Introduction
    p 
      | What are circadian rhythms? A circadian rhythm (namely the sleep/wake cycle) is a 24 hour cycle in the physiological processes of living things, including animals, plants, and people. These rhythms are technically generated inside the body, but can be affected by exterior stimuli like sunlight and temperature. They are important in regulating the sleeping and eating patterns of all animals, including humans. Circadian rhythms also demonstrate a clear role in the varying levels of hormone production, brain wave activity, cell regeneration, and other biological processes within this 24 hour period.
    p
      | Fun fact: The term "circadian rhythm" comes from the Latin "circa", meaning "around", and "diem", meaning "day". However, not all biological rhythms that occur on a 24-hour cycle can be categorized as circadian! To fit this classification, a rhythm must:
      ul 
        li 
          | have an 
          b endogenous 
          | (in the body without exterior signals) period of approximately 24 hours
        li 
          | be 
          b entrainable 
          | (this means the rhythm can be reset by exposure to external stimuli like light or heat)
        li 
          | exhibit 
          b temperature compensation 
          | (despite the internal temperature of the body changing, which changes the energy of the molecular processes in all cells, the rhythm must still be able to persist at the same rate)
    p
      | In this site, you will explore the various effects that circadian rhythms have on your body throughout the course of a day!
  #dawn.box
    h1 Dawn
    h2.top 6:45 a.m.
    p
      | Sharpest blood pressure rise, in preparation for waking up.
    h2 7:30 a.m.
    p
      | Melatonin secretion stops. Your body is indicating that it is ready to be awake.
    h2 8:30 a.m.
    p
      | You're likely to have a bowel movement.
    h2 10:00 a.m.
    p
      | Period of high alertness.
  #noon.box
    h1 Noon
    h2.top 2:30 p.m.
    p
      | Best coordination.
    h2 3:30 p.m.
    p
      | Relatedly to the previous one, fastest reaction time.
    h2 5:00 p.m.
    p
      | Greatest cardiovascular efficiency and muscle strength
  #dusk.box
    h1 Dusk
    h2.top 6:30 p.m.
    p
      | Highest blood pressure. It's been gradually rising throughout the day, and begins dropping after this.
    h2 7:00 p.m.
    p
      | Highest body temperature.
    h2 9:00 p.m.
    p
      | Melatonin secretion starts. Your body is indicating that it wants to sleep.
    h2 10:30 p.m.
    p
      | Bowel movements suppressed. It can wait until you wake up.
  #midnight.box
    h1 Midnight
    h2.top 2:00 a.m.
    p
      | Deepest sleep.
    h2 4:30 a.m.
    p
      | Lowest body temperature. Your body is conserving energy during the night, keeping blood pressure and temperature low.
  #disorders.box
    h1 Disorders
    p
      | Messing with your body's circadian rhythm can cause all kinds of problems! Here are some of them.
    h2.top Jet Lag
    p
      | After travelling a long distance in the air, your body may still be aligned with your previous time zone. It may want to sleep when it's still daytime in your new time zone or be awake when it is time to sleep. In general, flying east is more difficult for your body to adjust to than flying west. It's estimated to take one day per time zone for your body to fully adjust to local time.
    p
      | This condition can cause you to not feel awake and alert when you should be, rendering it difficult for you to function. It's a very common disorder that millions face every day!
    h2 Seasonal Affective Disorder
    p
      | Also known as SAD or winter depression, this disorder is a type of depression that occurs in the winter in countries far from the equator. At this time of year, mornings start later and evenings start earlier, so there is less sunlight in the day. The depressive symptoms usually build up slowly as days get shorter, and gradually subside in early spring as the amount of sunlight rises.
    p
      | About four-fifths of people with SAD develop unipolar (persistent) depression, while the rest have bipolar (swinging between manic periods and low periods) depression. Symptoms include anxiety, feelings of guilt or worthlessness, irritability, social withdrawal, etc. It is said to be caused by the lack of sunlight that disrupts your body's circadian rhythm.
    h2 Shift Work
    p
      | Non-traditional work schedules, such as early morning shifts, night shifts, overnight shifts, and rotating shifts, can cause your circadian rhythm and work schedule to conflict. Like jet lag, this will cause your body to want to sleep when it needs to be awake, and vice versa. 
    p
      | People with shift work disorder may sleep up to four hours less than the average worker. You may wake up feeling unrefreshed, with a poor quality of sleep. Generally, this disorder lasts as long as you keep the shift work schedule. Once you begin sleeping at a normal time again, the problems tend to disappear.
    h2 Irregular Sleep-Wake Rhythm
    p
      | A rare disorder that is believed to be caused by weak body clocks. This may happen when people have dementia or brain damage, but can also occur in people without neurological problems. Bad sleep habits and reduced exposure to daily light can cause these problems in people with weaker clocks.
    p
      | People with this disorder may sleep on and off in a series of naps throughout the day and night. They have no regular pattern of being asleep or awake. They may have a hard time sleeping or a hard time staying awake, and have a total sleep time that is not normal for their age.
  #more.box
    h1 More Information
    h2.top Technicals
    p
      | The primary circadian clock in mammals in located in the suprachiasmatic nucleus (SCN), a pair of distinct groups of cells in the hypothalamus. Destruction of the SCN results in the complete absence of a regular sleep-wake rhythm. The SCN receives information about light levels from the eyes, which contain specialized ganglion cells that are directly photosensitive and project directly to the SCN, separate from the usual cones and rods.
    h2 Effect of circadian disruption
    p
      | Mutations / deletions of the clock gene in mice altered their glucose metabolism and made them hungry and obese. This has also caused the mice to be predisposed to diabetes. It is still unclear whether there is a strong association between the clock gene in humans and susceptibility to the metabolic syndrome.
    h2 Effect of light-dark cycle
    p
      | Animals, including humans, kept in darkness for long periods of time eventually develop a free-running rhythm. Their sleep cycle is pushed forward or back each "day" depending on whether their free-running "day" is shorter or longer than 24 hours. As such, research into this has influenced spacecraft environment design, as systems that mimic the light-dark cycle have been found to be highly beneficial to astronauts.
    h2 Trivia
    ul
      li The environmental cues that reset rhythms each day are called zeitgebers (from the German "time-givers").
      li A study conducted at Harvard in 1999 estimates the natural human rhythm to be about 24 hours and 11 minutes. 
      li Independent circadian rhythms are found in many organs and cells outside the SCN, or "master clock". Neuroscientist Joseph Takahashi and colleagues stated in 2013 that "almost every cell in the body contains a circadian clock".
      li Stabilization of sleep and the circadian rhythm may help reduce the vulnerability to drug addiction and reduce the chances of relapse.
    h2 Sources
    ul
      li
        a(href='https://en.wikipedia.org/wiki/Circadian_rhythm') Wikipedia
      li
        a(href='http://sleepeducation.org/sleep-disorders-by-category/circadian-rhythm-disorders') Sleep Education
      li
        a(href='https://www.sleepfoundation.org/sleep-topics/what-circadian-rhythm') Sleep Foundation
      li
        a(href='https://www.medicalnewstoday.com/articles/10306.php') Medical News Today
        
      
  script(src='/javascripts/home.js')
